# Eclipse
/**/.project
/**/.classpath
/**/.factorypath
/**/.settings

# IntelliJ
/**/*.iml
/**/.idea

# Maven
/**/target
/**/.polyglot.*

# Java
*.class
*.jar
hs_err_pid*

# Generated MANIFEST.MF
/**/META-INF/MANIFEST.MF
